extends base

block scriptBlock
    script(src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js")
    script(src="/js/launch_writer.js")

block content
    div(style="display: flex; flex-direction: column; align-items: center;")
        h2 Upcoming Global Space Launches
        h5
            | Launch data sourced from 
            a(href="https://spaceflightnow.com" target="_blank") SpaceflightNow
            | .
        h6 All launch dates and times are auto-adjusted to your timezone. Only future launches are displayed.
    div(style="display: flex; justify-content: space-around; flex-wrap: wrap")
        div(style="max-width: 40%; min-width: 325px;")
            h3 Scheduled launches
            h6 These have been assigned a specific launch day and time
            for launch in exact
                div(style="margin: 10px; padding: 10px; border: 2px solid #0ca; border-radius: 8px;")
                    div(style="display:none;")=JSON.stringify(launch)
                    if launch.time.stop
                        h6.doubleLaunchHeader(style="border-bottom: 3px dashed #0ca; padding 5px;")=launch.time.start + '~' + launch.time.stop
                    else
                        h6.singleLaunchHeader(style="border-bottom: 3px dashed #0ca; padding: 5px;")=launch.time.start
                    text(style="font-weight: bold; color: #f00")=launch.vehicle + ' • ' + launch.mission
                    br
                    text(style="color: #55f; font-weight: bold;")=launch.affiliations.join(', ')
                    br
                    text(style="color: #ddd")=launch.description
        div(style="max-width: 40%; min-width: 325px;")
            h3 Planned launches
            h6 These are slated to happen, but have not been formally scheduled yet
            for launch in undecided
                div(style="margin: 10px; padding: 10px; border: 2px solid #f80; border-radius: 8px;")
                    h6(style="border-bottom: 3px dashed #f80; padding: 5px;")=launch.time.start
                    text(style="font-weight: bold; color: #f00")=launch.vehicle + ' • ' + launch.mission
                    br
                    text(style="color: #55f; font-weight: bold;")=launch.affiliations.join(', ')
        
        
        //- for day in closures
        //-     .card(style="width: 18rem; margin: 10px;")
        //-         .card-body.day
        //-             .data=JSON.stringify({label: day.label, closures: day.closures})
        //-             h5.card-title #{day.label}
        //-             p.card-text.warning(style='display: none; color: #f70; font-weight: bold;') No road closures posted.
        //-             for closure in day.closures
        //-                 h6.card-subtitle.mb-2 #{closure.status}
        //-                 p.card-text.start(style="margin-bottom: 0px;") Road closes:
        //-                 p.card-text.stop Road opens:
        //-                 div(style="margin-bottom: 5px;")
