extends base

block scriptBlock
  script(src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js")
  script(src="/scripts/formatter.js")

block content
  div(style="display: flex; flex-direction: column; align-items: center;")
    h2 Summary of today's activities in Starbase, TX
    h6(style="position: relative; left: 50px; width: 215px;")
      span(style="position: absolute; left: -105px;") Local: 
      span#local
        p.liveTime=" "
    h6(style="position: relative; left: 50px; width: 215px;")
      span(style="position: absolute; left: -105px;") Starbase: 
      span#boca
        p.liveTime.starbaseTime=" "
    span(style="font-size: 14px; font-weight: bold;") All times are auto-adjusted to your timezone.
  div(style="display: flex; flex-wrap: wrap; justify-content: center;")
    .card(style="width: 18rem; margin: 10px;")
      .card-body
        h5.card-title Weather
        h6.card-subtitle.mb-2
          span(style="color: #f70") high winds 
          | may cause delays
        #wind-meter(style="position: relative; height: 35px; margin-top: 35px;")
          div(style="background-image: linear-gradient(to right, #0f0, #ff0, #f00); width: 100%; height: 17px; border: 2px solid #000")
          div(style="position: absolute; top: 12px; width: calc(100% - 4px); margin-left: 2px; display: flex; justify-content: space-between;")
            div(style="width: 2px; height: 7px; background-color: #fff")
            div(style="width: 2px; height: 7px; background-color: #fff")
            div(style="width: 2px; height: 7px; background-color: #fff")
            div(style="width: 2px; height: 7px; background-color: #fff")
          div(style="position: absolute; top: 17px; width: 100%; display: flex; justify-content: space-between;")
            span.units 0
            span.units 10
            span.units 20
            span.units 30
          div(style="position: absolute; top: -5px; width: 100%;")
            div(style="position: absolute; left: min(" + (weather.wind / 3 * 10) + "%, calc(100% - 3px)); background-color: #000; width: 3px; height: 20px")
            .units(style="font-size: 13px; position: absolute; bottom: 0px; right: max(calc(0% - 15px), calc(" + (100 - weather.wind / 3 * 10) + "% - 15px)); white-space: nowrap") #{weather.wind}
        p.card-text Temp: #{weather.temperature} &deg;F
        p.card-text Humidity: #{weather.humidity}%
        p.card-text Barometer: #{weather.barometer} #{weather.barometerUnits}
        a.card-link(href="http://weather.labpadre.com/") LabPadre's Weather HQ
    .card(style="width: 18rem; margin: 10px;")
      .card-body
        h5.card-title Hwy-4 Road Closures
        h6.card-subtitle.mb-2
          span(style="color: #0f0;") active
          | , 
          span(style="color: #ff0;") planned
          | , or 
          span(style="color: #f00;") cancelled
        if (closures.length == 0)
          p.card-text No closures to show.
        else
          each closure in closures
            .closure.item
              .data=JSON.stringify({start: closure.start, stop: closure.stop, status: closure.status})
              div(style="display: flex; justify-content: center; text-decoration: underline;")
                span=closure.type
              div
                span(style="font-weight: bold;") Status: 
                span=closure.status
              div
                span(style="font-weight: bold;") Closes: 
                span.start.formatTime.timeOnly=closure.startDate
              div
                span(style="font-weight: bold;") Opens: 
                span.stop.formatTime.timeOnly=closure.stopDate
        div(style="height: 25px;")
        a.card-link(href="https://www.cameroncounty.us/spacex/") Cameron County Public Notices
    .card(style="width: 18rem; margin: 10px;")
      .card-body
        h5.card-title Flight Restrictions
        h6.card-subtitle.mb-2
          span(style="color: #0f0;") active
          |  or 
          span(style="color: #ff0;") planned
        h6.card-subtitle.mb-2
          span flight opportunity: 
          span(style="color: #f0f;")
            i.fa.fa-paper-plane
        if (notams.length == 0)
          p.card-text No NOTAMs to show.
        else
          each notam in notams
            .tfr.item
              div(style="display: flex; justify-content: center; text-decoration: underline;")
                if (notam.altitude == 'Unlimited')
                  span(style="margin-right: 10px; color: #f0f;")
                    i.fa.fa-paper-plane
                span.title(style="margin-right: 5px;") NOTAM
                a(href=notam.notamUrl target="_blank")=notam.notamId
                | :
              div
                span(style="font-weight: bold;") Activates: 
                span.start.formatTime.timeAndDateWithDay=notam.startDate
              div
                span(style="font-weight: bold;") Ends: 
                span.stop.formatTime.timeAndDateWithDay=notam.stopDate
              div
                if (notam.altitude == -1)
                  | Altitude: Unlimited
                else
                  | Altitude: #{notam.altitude} feet
        div(style="height: 25px;")
        a.card-link(href="https://tfr.faa.gov/tfr2/list.jsp") FAA NOTAM Table
